*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 100vw;
    background-color: black;
}
.small-container{
    font-size: 15px;
    width:70vw;
    margin: auto;
    height: 100vw;
    padding: 50px;
    background-color: white;
}
h1{
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(96, 94, 94);
    transition: color 0.5s;
}
h1:hover{
    color: black;
    
}

input{
    width:30vw;
   padding: 0.7rem;
    border:none;
    margin: 50px;

}
button{
        padding: 0.7rem;
        border:none;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(96, 94, 94);
        color: white;
        cursor: pointer;
        transition: background-color 0.5s;
}
button:hover{
    background-color: black;
    color: white;
}

p{
    background-color:rgb(243, 238, 238);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 20px;
    margin: 10px;

    
}